
$background-color-1: #37474f;
$background-color-2: #546e7a;
$background-color-3: #607d8b;

$main-background: #263238;
$content-background: #455a64;

$button-background: blue;


$select-border: #777;
$select-focus: blue;
$select-arrow: $select-border;
